h1 {
  color: blue;
  text-align: center;
}

body {
  background-image: url("../images/back.jpg");
  opacity: 30%;
}
.entry_form {
  text-align: center;
}

.input_form {
  padding: 8px 80px;
  border-radius: 10%;
  margin: 1%;
  border: 2px solid skyblue;
}

#btn{
  background-color: green;
  border-radius: 4px;
  text-align: center;
  width: 20%;
  padding: 8px;
  color: white;
  margin-top: 8px;
  font-family: sans-serif;
}
#btn: hover {
color: red;
}
